@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

$mainFont: 'Poppins', sans-serif;
$blue: #4c49ed;
$orange: #FD7D3B;
$lightCyan: #e0e0f4;

$chartColor1: #409EF7;
$chartColor2: #385FD6;
$chartColor3: #4C49ED;
$chartColor4: #6638D6;
$chartColor5: #A740F7;